---
const { reverse } = Astro.props;
---

<section
  class={`flex items-center justify-center flex-col-reverse md:flex-row ${reverse ? "md:flex-row-reverse" : ""}`}
>
  <slot name="left" />
  <slot name="right" />
</section>
