---
import Logo from "./Logo.astro";
---

<section
  class="bg-primary mb-10 flex flex-col items-center justify-center md:min-h-screen md:justify-between"
>
  <nav
    class="absolute inset-x-0 top-0 mt-8 flex w-full justify-between md:mt-10"
  >
    <a class="text-primary text-base font-medium md:text-2xl" href="#about">
      A PROPOS
    </a>
    <a class="text-primary text-base font-medium md:text-2xl" href="#menu">
      MENU
    </a>
    <a class="text-primary text-base font-medium md:text-2xl" href="#contact">
      CONTACT
    </a>
  </nav>
  <div class="mt-10 md:mt-0"></div>
  <div class="hidden md:block">
    <div class="flex justify-center">
      <Logo class="" />
    </div>
    <h1 class="text-primary mt-6 text-center text-3xl font-bold md:text-6xl">
      CAFE BAR Y MUCHO MAS
    </h1>
    <div class="text-primary mt-12 text-center text-xl italic md:hidden">
      Avenue de la Gare 1, 2000 Neuchâtel
    </div>
  </div>
  <div class="text-primary mb-6 hidden text-center text-2xl italic md:block">
    Avenue de la Gare 1, 2000 Neuchâtel
  </div>
</section>
