<div class="">
  <svg
    class="hidden lg:block"
    width="763"
    height="146"
    viewBox="0 0 763 146"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M313.651 72.8174C313.608 49.1214 320.099 32.4428 333.111 20.4094C346.125 8.37343 364.943 0.353424 389.564 0.309433C414.188 0.265427 440.256 4.45607 453.645 8.92007L453.753 70.3041C442.744 68.5081 413.355 67.5534 392.137 67.4401C388.921 67.4228 386.915 69.6001 386.92 72.6774C386.925 75.7548 388.94 77.9241 392.156 77.8947C413.373 77.7067 442.759 76.6934 453.761 74.8587L453.871 136.241C440.499 140.753 414.445 145.012 389.82 145.056C365.199 145.1 346.353 137.147 333.296 125.156C320.241 113.169 313.692 96.5134 313.651 72.8174Z"
      fill="#DE1F26"></path>
    <path
      d="M746.253 18.5587C735.428 7.33739 718.04 0.305389 694.276 0.305389H677.84C654.077 0.305389 636.855 7.33739 625.96 18.5587C615.073 29.78 609.627 47.4027 609.627 71.4267C609.627 95.452 615.104 113.304 626.063 124.987C637.015 136.669 654.311 145.052 677.939 145.052H694.375C718.004 145.052 735.263 136.669 746.156 124.987C757.043 113.304 762.489 95.452 762.489 71.4267C762.489 47.4027 757.076 29.78 746.253 18.5587ZM691.704 84.064C691.704 85.78 691.139 87.1667 690.016 88.2214C688.893 89.28 687.508 89.8067 685.857 89.8067C684.209 89.8067 682.888 89.28 681.901 88.2214C680.912 87.1667 680.412 85.78 680.412 84.064V61.0934C680.412 59.5094 680.912 58.1934 681.901 57.1347C682.888 56.0801 684.209 55.5507 685.857 55.5507C687.508 55.5507 688.893 56.0801 690.016 57.1347C691.139 58.1934 691.704 59.5094 691.704 61.0934V84.064Z"
      fill="#DE1F26"></path>
    <path
      d="M539.051 4.26138V60.1334C539.051 63.2481 536.527 65.7734 533.412 65.7734C530.297 65.7734 527.772 63.2481 527.772 60.1334V4.26138H464.561V141.717H527.772V100.435C527.772 97.3201 530.297 94.7947 533.412 94.7947C536.527 94.7947 539.051 97.3201 539.051 100.435V141.717H602.261V4.26138H539.051Z"
      fill="#DE1F26"></path>
    <path
      d="M306.752 3.97073V80.0187C306.713 101.26 301.244 117.033 290.327 127.317C279.408 137.581 262.903 144.357 237.896 144.357C212.909 144.357 196.384 137.581 185.467 127.317C174.568 117.033 169.08 101.26 169.04 80.0187V3.97073H231.992V74.5894C231.992 77.7601 234.568 80.3361 237.737 80.3361C240.908 80.3361 243.484 77.7601 243.484 74.5894V3.97073H306.752Z"
      fill="#DE1F26"></path>
    <path
      d="M159.804 4.25735V141.712H96.5947V91.9574L91.5427 100.875L81.984 117.779C81.1067 119.329 78.8733 119.331 77.9947 117.78L68.4187 100.875L63.3853 91.9774V141.712H0.177322V4.25735H63.3853L74.0747 25.1454C76.5427 29.9694 83.4373 29.9694 85.9067 25.1454L96.5947 4.25735H159.804Z"
      fill="#DE1F26"></path>
  </svg>
  <svg
    class="md:hidden"
    width="280"
    height="80"
    viewBox="0 0 763 146"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M313.651 72.8174C313.608 49.1214 320.099 32.4428 333.111 20.4094C346.125 8.37343 364.943 0.353424 389.564 0.309433C414.188 0.265427 440.256 4.45607 453.645 8.92007L453.753 70.3041C442.744 68.5081 413.355 67.5534 392.137 67.4401C388.921 67.4228 386.915 69.6001 386.92 72.6774C386.925 75.7548 388.94 77.9241 392.156 77.8947C413.373 77.7067 442.759 76.6934 453.761 74.8587L453.871 136.241C440.499 140.753 414.445 145.012 389.82 145.056C365.199 145.1 346.353 137.147 333.296 125.156C320.241 113.169 313.692 96.5134 313.651 72.8174Z"
      fill="#DE1F26"></path>
    <path
      d="M746.253 18.5587C735.428 7.33739 718.04 0.305389 694.276 0.305389H677.84C654.077 0.305389 636.855 7.33739 625.96 18.5587C615.073 29.78 609.627 47.4027 609.627 71.4267C609.627 95.452 615.104 113.304 626.063 124.987C637.015 136.669 654.311 145.052 677.939 145.052H694.375C718.004 145.052 735.263 136.669 746.156 124.987C757.043 113.304 762.489 95.452 762.489 71.4267C762.489 47.4027 757.076 29.78 746.253 18.5587ZM691.704 84.064C691.704 85.78 691.139 87.1667 690.016 88.2214C688.893 89.28 687.508 89.8067 685.857 89.8067C684.209 89.8067 682.888 89.28 681.901 88.2214C680.912 87.1667 680.412 85.78 680.412 84.064V61.0934C680.412 59.5094 680.912 58.1934 681.901 57.1347C682.888 56.0801 684.209 55.5507 685.857 55.5507C687.508 55.5507 688.893 56.0801 690.016 57.1347C691.139 58.1934 691.704 59.5094 691.704 61.0934V84.064Z"
      fill="#DE1F26"></path>
    <path
      d="M539.051 4.26138V60.1334C539.051 63.2481 536.527 65.7734 533.412 65.7734C530.297 65.7734 527.772 63.2481 527.772 60.1334V4.26138H464.561V141.717H527.772V100.435C527.772 97.3201 530.297 94.7947 533.412 94.7947C536.527 94.7947 539.051 97.3201 539.051 100.435V141.717H602.261V4.26138H539.051Z"
      fill="#DE1F26"></path>
    <path
      d="M306.752 3.97073V80.0187C306.713 101.26 301.244 117.033 290.327 127.317C279.408 137.581 262.903 144.357 237.896 144.357C212.909 144.357 196.384 137.581 185.467 127.317C174.568 117.033 169.08 101.26 169.04 80.0187V3.97073H231.992V74.5894C231.992 77.7601 234.568 80.3361 237.737 80.3361C240.908 80.3361 243.484 77.7601 243.484 74.5894V3.97073H306.752Z"
      fill="#DE1F26"></path>
    <path
      d="M159.804 4.25735V141.712H96.5947V91.9574L91.5427 100.875L81.984 117.779C81.1067 119.329 78.8733 119.331 77.9947 117.78L68.4187 100.875L63.3853 91.9774V141.712H0.177322V4.25735H63.3853L74.0747 25.1454C76.5427 29.9694 83.4373 29.9694 85.9067 25.1454L96.5947 4.25735H159.804Z"
      fill="#DE1F26"></path>
  </svg>
</div>
