---
import "../css/base.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <!-- Primary Meta Tags -->
    <title>MUCHO BAR</title>
    <meta name="title" content=" MUCHO BAR" />
    <meta
      name="description"
      content="Au Mucho Bar, on aime les bons produits, les bons jus et les bons moments. une carte de petites assiettes de saison à partager, qui change régulièrement selon l’inspiration de la cuisine. Le tout pensé pour accompagner notre sélection de vins et de cocktails maison. Ambiance détendue en semaine, DJ set dès 22h00 le week-end."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://muchobar.ch" />
    <meta property="og:title" content=" MUCHO BAR" />
    <meta
      property="og:description"
      content="Au Mucho Bar, on aime les bons produits, les bons jus et les bons moments. une carte de petites assiettes de saison à partager, qui change régulièrement selon l’inspiration de la cuisine. Le tout pensé pour accompagner notre sélection de vins et de cocktails maison. Ambiance détendue en semaine, DJ set dès 22h00 le week-end."
    />
    <meta
      property="og:image"
      content="https://assets.tina.io/ebca36cc-f704-49c1-a0e1-e40a8ddfb57a/mucho-banner.jpeg"
    />

    <!-- X (Twitter) -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://muchobar.ch" />
    <meta property="twitter:title" content=" MUCHO BAR" />
    <meta
      property="twitter:description"
      content="Au Mucho Bar, on aime les bons produits, les bons jus et les bons moments. une carte de petites assiettes de saison à partager, qui change régulièrement selon l’inspiration de la cuisine. Le tout pensé pour accompagner notre sélection de vins et de cocktails maison. Ambiance détendue en semaine, DJ set dès 22h00 le week-end."
    />
    <meta
      property="twitter:image"
      content="https://assets.tina.io/ebca36cc-f704-49c1-a0e1-e40a8ddfb57a/mucho-banner.jpeg"
    />
  </head>
  <body
    class="bg-primary relative mx-auto w-full max-w-screen-xl px-6 pb-20 2xl:px-0"
  >
    <slot />
  </body>
</html>
<style is:global>
  html {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    font-size: 1rem;
  }
</style>
